* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow:hidden;
  background: white;
  font-family: "montserrat";
  margin: 0;
}
canvas {
  display: block;
}
nav div #name:hover {
  color: gray;
}
nav ul li a:hover {
  color: gray;
  background: white;
  padding: 7px 13px;
  border-radius: 0.7vh;
}

nav {
  scroll-snap-align: start;
  z-index: 9;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 9vh;
  top: -10vh;
  box-shadow: 0px 0px 1vh 0.8vh #888888;
  transition: ease-out 1s;
}
nav div #name {
  position: absolute;
  float: left;
  color: white;
  font-size: 4vh;
  line-height: 7.8vh;
  padding: 0 0px;
  left: 5vw;
  font-weight: bold;
  transition: 0.7s;
}
nav ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 7.9vh;
  margin: 0 2vw;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 1.9vh;
  text-transform: uppercase;
  transition: 0.3s;
}
nav a {
  transition: 0.4s;
}
nav div #pic {
  z-index: 12;
  padding: 0;
  width: 20%;
  height: 20%;
  position: absolute;
}
nav div #pic img {
  position: absolute;
  z-index: 12;
  top: 1.5vh;
  left: 3.5vh;
  height: 5vh;
  transition: ease-in-out 1s;
}
nav div #pic img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
  transform: rotate(+360deg);
}
.leftText {
  z-index: 1;
  position: absolute;
  float: left;
  top: 40vh;
  margin-left: 9%;
  font-size: 30px;
  font-size: 3.5vw;
  left: -20vw;
  opacity: 0;
  transition: ease-out 1.5s;
}
.leftText .name {
  position: relative;
}
.leftText .name p {
  z-index: 2;
  margin: 29%;
  margin-top: 1%;
  cursor: pointer;
  color: black;
  background: white;
  border-radius: 1vh;
  animation: TextAnimation 1.5s ease-in-out infinite;
  transition: 2s;
}
.paused {
  animation-play-state: paused;
}
.leftText .A-left {
  z-index: 1;
  position: absolute;
  top: 25%;
  height: 2vw;
  opacity: 1;
  animation: RightArrow 5s ease-in-out infinite;
}
.leftText .A-right {
  z-index: 1;
  position: absolute;
  left: 89%;
  top: 25%;
  height: 1.9vw;
  animation: LeftArrow 5s ease-in-out infinite;
}
@keyframes RightArrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(+6.5vh);
  }
  100% {
    opacity: 0;
  }
}
@keyframes LeftArrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(-6.5vh);
  }
  100% {
    opacity: 0;
  }
}

@keyframes TextAnimation {
  0% {
    transition: 2s;
    background-color: black;
    color: white;
    transform: rotate(-2deg);
  }
  50% {
    background-color: black;
    color: white;
    transform: rotate(+2deg);
  }
  100% {
    background-color: black;
    color: white;
    transform: rotate(-2deg);
  }
}
@keyframes TextAnimationP {
  0% {
    background-color: black;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
}
@keyframes TextAnimationPP {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
}
.leftText .name .Project {
  border-radius: 0.5vh;
  display: none;
  color: white;
  background: black;
  padding: 3px;
  z-index: 1;
  font-size: 1.2vw;
  left: -6.5vw;
  float: left;
  position: absolute;
  top: 20%;
  animation: none;
  animation: Project 2s ease-in-out;
}
.leftText .name .Project a {
  color: white;
}
.leftText .name .Resume {
  text-decoration: none;
  border-radius: 0.5vh;
  display: none;
  padding: 3px;
  color: white;
  background: black;
  z-index: 1;
  top: 20%;
  left: +12vw;
  font-size: 1.2vw;
  position: absolute;
  animation: Resume 2s ease-in-out;
}
.leftText .name .Resume a {
  transition: 1s;
}
.leftText .name .Project a {
  transition: 1s;
}
.leftText .name .Resume a {
  color: white;
}
.leftText .name .Project:hover a {
  color: gray;
}
.leftText .name .Resume:hover a {
  color: gray;
}

@keyframes Resume {
  0% {
    opacity: 0;
    transform: translateX(-7vw);
  }
  100% {
    opacity: 1;
    transform: translateX(+0px);
  }
}
@keyframes Resume1 {
  100% {
    opacity: 0;
    transform: translateX(-7vw);
  }
}
@keyframes Project {
  0% {
    opacity: 0;
    transform: translateX(+7vw);
  }
  100% {
    opacity: 1;
    transform: translateX(+0px);
  }
}
@keyframes Project1 {
  100% {
    opacity: 0;
    transform: translateX(+7vw);
  }
}

.rightText {
  white-space: nowrap;
  z-index: 5;
  height: 5vh;
  position: absolute;
  left: 95%;
  top: 37vh;
  font-size: 30px;
  font-size: 3.5vw;
  transition: ease-out 1.5s;
  opacity: 0;
}
.rightText .p {
  margin-left: 10%;
}
.rightText .w {
  margin-left: 3%;
}
.burger {
  float: right;
  margin: 2.5vh;
  margin-right: 4vh;
  cursor: pointer;
  display: none;
}
.burger:hover div {
  background-color: gray;
}
.burger div {
  transition: 0.7s;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.scroll-btn {
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 7;
  left: 48vw;
  top:110vh;
  bottom: 20px;
  height: 50px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition:ease 2s;
}
.back .row {
  top: -37%;
  left: -15%;
  position: relative;
  width: 100%;
  display: flex;
  white-space: nowrap;
  transform: rotate(-30deg);
  margin: 0.3vh;
}
.back .row div i {
  color: rgb(155, 154, 154);
  transition: 1s;
  user-select: none;
  cursor: defaut;
  font-size: 2.8vw;
  margin: 0.5vw;
}

@media (max-width: 952px) {
  nav div #name {
    margin-left: 25vw;
    font-size: 8vw;
  }
  .back .row div i{
    margin: 1vh;
    font-size: 3.8vh;
  }
  .back .row{
    left: +5%;
    padding: 0;
    margin: 0;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    top: 9.5vh;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    overflow: hidden;
    background-color: black;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
  nav ul li a {
    font-size: 2vh;
  }
  .burger {
    display: block;
  }
  .nav-links li {
    opacity: 0;

    margin: 3vh;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}

.webgl {
  position: relative;
  display: block;
}
.back {
  background-color: white;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 200vh;
  background-color: white(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.back .row div i:hover {
  text-shadow: 1px 1px 1px;
  opacity: 1;
  transition: 0s;
  color: black;
}
.back .row div {
  margin: 0.1vw;
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}

.back .row div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate1 {
  0% {
    transform: translateX(100%);
    z-index: 2;
  }
  100% {
    transform: translateX(-100%);
    z-index: 2;
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
    z-index: 2;
  }
  100% {
    transform: translateX(-200%);
    z-index: 1;
  }
}

.back .row:nth-child(even) div {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}
.back .row:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate3 {
  0% {
    z-index: 1;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    z-index: 2;
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
}

.scroll-btn:before,
.scroll-btn:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-btn::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
.Section2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100vh;
}
.Section2 img {
  position: absolute;
  z-index: 3;
  border-radius: 1vw;
  width: 25vw;
  top: 8vh;
  left: 5vw;
}
.Section2 .slider-frame {
  overflow: hidden;
  height: 85vh;
  width: 40vw;
  top: 8vh;
  left: 5vw;
}
.slider-frame1 {
  overflow: hidden;
  height: 85vh;
  width: 33vw;
  left: 67vw;
  top: 4vh;
  position: absolute;
}
.slider-frame1 img {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(95, 95, 95) );
  filter: drop-shadow(5px 5px 5px rgb(100, 100, 100));
  overflow: hidden;
  position: absolute;
  width: 20vw;
}
.Section2 .slider-frame1 .slide-images {
  width: 320vw;
  height: 800px;
  margin: 0 0 0 -240vw;
  position: relative;
  animation: slide-images_1 90s ease-in-out infinite;
}
.Section2 .grad1 {
  z-index: 4;
  position: absolute;
  height: 100vh;
  width: 5vw;
  left: 67vw;
  background-image: linear-gradient(to left, transparent, white);
}
@keyframes slide-images_1 {
  0% {
    left: 0vw;
  }
  5% {
    left: 0vw;
  }
  15% {
    left: 80vw;
  }
  20% {
    left: 80vw;
  }
  25% {
    left: 160vw;
  }
  30% {
    left: 160vw;
  }
  35% {
    left: 240vw;
  }
  40% {
    left: 240vw;
  }
  45% {
    left: 240vw;
  }
  50% {
    left: 240vw;
  }
  55% {
    left: 160vw;
  }
  60% {
    left: 160vw;
  }
  65% {
    left: 160vw;
  }
  70% {
    left: 160vw;
  }
  75% {
    left: 80vw;
  }
  80% {
    left: 80vw;
  }
  85% {
    left: 80vw;
  }
  90% {
    left: 80vw;
  }
  95% {
    left: 0vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  5% {
    left: 0px;
  }
  10% {
    left: 80vw;
  }
  15% {
    left: 80vw;
  }
  20% {
    left: 160vw;
  }
  25% {
    left: 160vw;
  }
  30% {
    left: 240vw;
  }
  35% {
    left: 240vw;
  }
  40% {
    left: 320vw;
  }
  45% {
    left: 320vw;
  }
  50% {
    left: 320vw;
  }
  55% {
    left: 240vw;
  }
  60% {
    left: 240vw;
  }
  65% {
    left: 240vw;
  }
  70% {
    left: 160vw;
  }
  75% {
    left: 160vw;
  }
  80% {
    left: 160vw;
  }
  85% {
    left: 80vw;
  }
  90% {
    left: 80vw;
  }
  92% {
    left: 80vw;
  }
  95% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.Section2 .slider-frame .slide-images {
  width: 400vw;
  height: 800px;
  margin: 0 0 0 -320vw;
  position: relative;
  animation: slide_animation 120s ease-in-out infinite;
}

.img-container {
  height: 800px;
  width: 80vw;
  position: relative;
  float: left;
}

.Section2 .right {
  z-index: 3;
  box-shadow: 0 15px 4vw 0 rgb(0, 0, 0, 0.8);
  top: 15vh;
  left: 20vw;
  color: white;
  position: absolute;
  z-index: 4;
  width: 25vw;
  background-color: rgb(47, 47, 47, 1);
  border-radius: 0.7vw;
}
.Section2 h1 {
  margin: 1vw;
}
.Section2 p {
  font-size: 1vw;
  z-index: 4;
  margin: 1vw;
}

.Section2 p a:hover {
  color: #888888;
}
.Section2 h1 {
  font-size: 1.5vw;
}

.Section2 p a {
  color: white;
  text-decoration: underline;
  transition: 1s;
}
.Section2 .nick {
  font-size: 0.85vw;
}

.Section2 .right1 {
  top: 35vh;
  left: 55vw;
  color: black;
  position: absolute;
  z-index: 4;
  width: 21vw;
  background-color: rgb(151, 151, 151);
  box-shadow: 0 15px 4vw 0 rgb(0, 0, 0, 0.5);
  border-radius: 0.7vw;
}
.Section2 .grad {
  z-index: 4;
  position: absolute;
  height: 100vh;
  width: 5vw;
  left: 35vw;
  background-image: linear-gradient(to left, white, transparent);
}
.gr {
  pointer-events: none;
  z-index: 6;
  position: absolute;
  width: 100vw;
  height: 25vh;
  top: 200vh;
  background-image: linear-gradient(white 1%, transparent);
}
.contact {
  z-index: 2;
  box-shadow: 0px 0px 1vh 0.8vh #888888;
  position: absolute;
  top: 300vh;
  height: 50vh;
  width: 100vw;
  background: black;
}

#aboutL {
  position: relative;
  margin: 0;
  padding: 0;
  top: 92vh;
}
@media (max-width: 1052px) {
  .back .row div i{
    font-size: 3.7vh;
  }
  nav div #name {
    margin-left: 6vh;
  }
  .scroll-btn {
    top: 150vh;
    display: block;
  }
  .leftText {
    position: absolute;
    left: 16vw;
    top: 22vh;
    font-size: 22px;
    font-size: 7.2vw;
  }
  .leftText p {
    align-items: center;
  }
  .leftText .name .Project {
    left: -16.9vw;
    font-size: 3.2vw;
  }
  .leftText .name .Resume {
    left: +23vw;
    font-size: 3.2vw;
  }
  .leftText .name img {
    height: 5vw;
  }
  .rightText {
    font-size: 22px;
    font-size: 7.2vw;
    left: 20vw;
    top: 70%;
  }
  nav ul li a {
    font-size: 1.3vh;
  }
  .Section2 img {
    top: 5vh;
    width: 40vw;
  }
  .Section2 .right {
    top: 10vh;
    width: 50vw;
    left: 30vw;
  }
  .Section2 p {
    font-size: 2.3vw;
  }
  .Section2 .nick {
    font-size: 1.8vw;
  }
  .Section2 h1 {
    font-size: 3vw;
  }
  .Section2 .slider-frame {
    width: 60vw;
  }
  .Section2 .grad {
    left: 55.2vw;
  }
  .Section2 .right1 {
    z-index: 7;
    width: 40vw;
    top: 55vh;
    left: 40vw;
  }
  .Section2 .slider-frame1 {
    width: 33vw;
    top: 45vh;
  }
  .Section2 .slider-frame1 img {
    width: 20vw;
    left: 10vw;
  }
}
@media (max-width: 952px) {
  .Section2 img {
    border-radius: 1vh;
    top: 5vw;
    width: 45vw;
  }
  .Section2 .grad {
    left: 55.2vw;
  }
  .Section2 .right {
    border-radius: 1vh;
    top: 10vh;
    left: 31vw;
    width: 65vw;
  }
  .Section2 h1 {
    margin-top: 1vh;
    margin-left: 1.5vh;
    font-size: 2vh;
  }
  .Section2 p {
    font-size: 1.6vh;
    margin: 1.5vh;
  }
  .Section2 .nick {
    font-size: 1.5vh;
  }
  .Section2 .right1 {
    border-radius: 1vh;
    width: 35vh;
    top: 57vh;
    left: 4vh;
    z-index: 7;
  }
  .Section2 .slider-frame1 {
    display: none;
  }
  .Section2 .grad1 {
    display: none;
  }
}
