* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: white;
  font-family: "montserrat";
  margin: 0;
}
canvas {
  display: block;
}
nav div #name:hover {
  color: gray;
}
nav ul li a:hover {
  color: gray;
  background: white;
  padding: 7px 13px;
  border-radius: 0.7vh;
}

nav {
  scroll-snap-align: start;
  z-index: 9;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 9vh;
  top: 0px;
  box-shadow: 0px 0px 1vh 0.8vh #888888;
}
nav div #name {
  position: absolute;
  float: left;
  color: white;
  font-size: 4vh;
  line-height: 7.8vh;
  padding: 0 0px;
  left: 5vw;
  font-weight: bold;
  transition: 0.7s;
}
nav ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 7.9vh;
  margin: 0 2vw;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 1.9vh;
  text-transform: uppercase;
  transition: 0.3s;
}
nav a {
  transition: 0.4s;
}
nav div #pic {
  z-index: 12;
  padding: 0;
  width: 20%;
  height: 20%;
  position: absolute;
}
nav div #pic img {
  position: absolute;
  z-index: 12;
  top: 1.5vh;
  left: 3.5vh;
  height: 5vh;
  transition: ease-in-out 1s;
}
nav div #pic img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
  transform: rotate(+360deg);
}
.leftText {
  z-index: 1;
  position: absolute;
  float: left;
  top: 40vh;
  margin-left: 9%;
  font-size: 30px;
  font-size: 3.5vw;
}
.leftText .name {
  position: relative;
}
.leftText .name p {
  z-index: 2;
  margin: 29%;
  margin-top: 1%;
  cursor: pointer;
  color: black;
  background: white;
  border-radius: 1vh;
  animation: TextAnimation 1.5s ease-in-out infinite;
  transition: 2s;
}
.paused {
  animation-play-state: paused;
}
.leftText .A-left {
  z-index: 1;
  position: absolute;
  top: 25%;
  height: 2vw;
  opacity: 1;
  animation: RightArrow 5s ease-in-out infinite;
}
.leftText .A-right {
  z-index: 1;
  position: absolute;
  left: 89%;
  top: 25%;
  height: 1.9vw;
  animation: LeftArrow 5s ease-in-out infinite;
}
@keyframes RightArrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(+6.5vh);
  }
  100% {
    opacity: 0;
  }
}
@keyframes LeftArrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(-6.5vh);
  }
  100% {
    opacity: 0;
  }
}

@keyframes TextAnimation {
  0% {
    transition: 2s;
    background-color: black;
    color: white;
    transform: rotate(-2deg);
  }
  50% {
    background-color: black;
    color: white;
    transform: rotate(+2deg);
  }
  100% {
    background-color: black;
    color: white;
    transform: rotate(-2deg);
  }
}
@keyframes TextAnimationP {
  0% {
    background-color: black;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
}
@keyframes TextAnimationPP {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
}
.leftText .name .Project {
  border-radius: 0.5vh;
  display: none;
  color: white;
  background: black;
  padding: 3px;
  z-index: 1;
  font-size: 1.2vw;
  left: -6.5vw;
  float: left;
  position: absolute;
  top: 20%;
  animation: none;
  animation: Project 2s ease-in-out;
}
.leftText .name .Project a {
  color: white;
}
.leftText .name .Resume {
  text-decoration: none;
  border-radius: 0.5vh;
  display: none;
  padding: 3px;
  color: white;
  background: black;
  z-index: 1;
  top: 20%;
  left: +12vw;
  font-size: 1.2vw;
  position: absolute;
  animation: Resume 2s ease-in-out;
}
.leftText .name .Resume a {
  transition: 1s;
}
.leftText .name .Project a {
  transition: 1s;
}
.leftText .name .Resume a {
  color: white;
}
.leftText .name .Project:hover a {
  color: gray;
}
.leftText .name .Resume:hover a {
  color: gray;
}

@keyframes Resume {
  0% {
    opacity: 0;
    transform: translateX(-7vw);
  }
  100% {
    opacity: 1;
    transform: translateX(+0px);
  }
}
@keyframes Resume1 {
  100% {
    opacity: 0;
    transform: translateX(-7vw);
  }
}
@keyframes Project {
  0% {
    opacity: 0;
    transform: translateX(+7vw);
  }
  100% {
    opacity: 1;
    transform: translateX(+0px);
  }
}
@keyframes Project1 {
  100% {
    opacity: 0;
    transform: translateX(+7vw);
  }
}

.rightText {
  z-index: 5;
  position: absolute;
  left: 65%;
  top: 37vh;
  font-size: 30px;
  font-size: 3.5vw;
}
.rightText .p {
  margin-left: 10%;
}
.rightText .w {
  margin-left: 3%;
}
.burger {
  float: right;
  margin: 2.5vh;
  margin-right: 4vh;
  cursor: pointer;
  display: none;
}
.burger:hover div {
  background-color: gray;
}
.burger div {
  transition: 0.7s;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.scroll-btn {
  display: none;
  position: absolute;
  z-index: 7;
  left: 50%;
  bottom: 20px;
  height: 50px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}
.back .row {
  left: -19%;
  top: -37%;
  position: relative;
  width: 100%;
  display: flex;
  padding: 4px 0;
  white-space: nowrap;
  font-size: 4.5vw;
  transform: rotate(-30deg);
}
.swipe {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.swipe img {
  height: 8vw;
  width: 8vw;
  top: 45%;
  position: absolute;
  display: flex;
  left: 45%;
  transform: rotate(-25deg);
  justify-content: center;
  animation: Swipe 6s ease-in-out infinite;
  opacity: 0;
}

@keyframes Swipe {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: translateX(+50%) rotate(+25deg);
  }
  40% {
    opacity: 0;
  }
}
@media (max-width: 1052px) {
  .swipe img {
    height: 8vh;
    width: 8vh;
    left: 39vw;
  }
  nav div #name {
    margin-left: 6vh;
  }
  .scroll-btn {
    display: block;
  }
  .leftText {
    position: absolute;
    left: 16vw;
    top: 22vh;
    font-size: 22px;
    font-size: 7.2vw;
  }
  .leftText p {
    align-items: center;
  }
  .leftText .name .Project {
    left: -16.9vw;
    font-size: 3.2vw;
  }
  .leftText .name .Resume {
    left: +23vw;
    font-size: 3.2vw;
  }
  .leftText .name img {
    height: 5vw;
  }
  .rightText {
    font-size: 22px;
    font-size: 7.2vw;
    left: 20vw;
    top: 70%;
  }
  nav ul li a {
    font-size: 1.3vh;
  }
}

@media (max-width: 952px) {
  nav div #name {
    margin-left: 25vw;
    font-size: 8vw;
  }
  .back .row {
    padding: 0 2px;
    font-size: 3.7vh;
  }

  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    top: 9.5vh;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    overflow: hidden;
    background-color: black;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
  nav ul li a {
    font-size: 2vh;
  }
  .burger {
    display: block;
  }
  .nav-links li {
    opacity: 0;

    margin: 3vh;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}

.webgl {
  position: relative;
  display: block;
}
.back {
  background-color: white;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 200vh;
  background-color: white(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.back .row div i {
  color: rgb(155, 154, 154);
  transition: 1s;
  user-select: none;
  cursor: defaut;
}
.back .row div i:hover {
  text-shadow: 1px 1px 1px;
  opacity: 1;
  transition: 0s;
  color: black;
}
.back .row div {
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}
.back .row div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate1 {
  0% {
    transform: translateX(100%);
    z-index: 2;
  }
  100% {
    transform: translateX(-100%);
    z-index: 2;
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
    z-index: 2;
  }
  100% {
    transform: translateX(-200%);
    z-index: 1;
  }
}

.back .row:nth-child(even) div {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}
.back .row:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate3 {
  0% {
    z-index: 1;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    z-index: 2;
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
}

.scroll-btn:before,
.scroll-btn:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-btn::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
.Section2 {
  position: absolute;
  top: 100vh;
}
.Section2 img{
  height: 100vh;
  width: 100vw;
}
.gr{
  pointer-events: none;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 200vh;
  background-image: linear-gradient(rgb(158, 158, 158) 1%,transparent);
}
.gr1{
  pointer-events: none;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  background-image: linear-gradient(transparent,rgb(158, 158, 158) 99%);
}
.contact{
  z-index: 2;
  box-shadow: 0px 0px 1vh 0.8vh #888888;
  position: absolute;
  top: 300vh;
  height: 50vh;
  width: 100vw;
  background: black;
}